@charset "utf-8";

/* botton */
.#{$prefix}-btn-base {
    width:                  245px;
    height:                 18px;
    padding:                14px 20px;
    border:                 0;
    margin-top:             16px;
    text-align:             center;
    color:                  $white;
    font-size:              14px;
    letter-spacing:         1.6px;
    background-color:       $login-input;
    cursor:                 pointer;
    @include                box-sizing(content);
}
