@charset "utf-8";

/* input */
.#{$prefix}-input-base {
    width:                  245px;
    height:                 18px;
    padding:                14px 20px;
    border:                 0;
    margin-top:             16px;
    text-align:             center;
    color:                  $black;
    font-size:              14px;
    letter-spacing:         1.6px;
    border-bottom:          1px solid rgba(#ccc, 0.8);
    @include                box-sizing(content);
}

.#{$prefix}-add-row-base {
    margin-bottom:              8px;
}
